<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="datasource.properties">
    <!--properties resource中的属性的优先级高于xml 中property属性, 然而还有一种方式， 通过方法传参的优先级更高-->
    <property name="username" value="root"/>
    <property name="password" value="123456"/>
  </properties>
  
  <settings>
    <!--启动驼峰转换， 如字段名 name_car 将会被转换为java bean 对应的 nameCar-->
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="useGeneratedKeys" value="true"/>
  </settings>

  <!--别名， 用于避免代码冗余-->
  <typeAliases>
    <!--<typeAlias alias="Blog" type="org.apache.ibatis.test.test1.entity.Blog"/>-->
    <package name="org.apache.ibatis.test.test1.entity"/>
  </typeAliases>

  <plugins>
    <plugin interceptor="org.apache.ibatis.test.test1.plugin.MyInterceptor"></plugin>
  </plugins>

<!--  environment 元素体中包含了事务管理和连接池的配置-->
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>


<!--  mappers 元素则是包含一组映射器（mapper），这些映射器的 XML 映射文件包含了 SQL 代码和映射定义信息-->
  <mappers>
    <mapper resource="BlogMapper.xml"/>
    <mapper resource="AuthorMapper.xml"/>
    <mapper resource="CommentMapper.xml"/>
  </mappers>
</configuration>
